<div class='container'>
  <h2>SIGN UP</h2>
  <form class='form-group'>
    <div class='nes-field'>
      <input type='text' id='email' class='nes-input' placeholder='email' required>
    </div>
    <div class='nes-field'>
      <input type='text' id='username' class='nes-input' placeholder='username' required>
    </div>
    <div class='nes-field'>
      <input type='password' id='password' class='nes-input' placeholder='password' required />
    </div>
    <div class='nes-field'>
      <input type='password' id='password-confirm' class='nes-input' placeholder='confirm password' required />
    </div>
  </form>
  <button type='button' class='nes-btn signup-btn'>Sign up</button>
</div>
