<div class='container'>
  <h1 class='title'>PIXEL PETS</h1>
  <div class='main-form'>
    <h2 class='login'>LOGIN</h2>
    <form class='form-group' #form="ngForm">
      <div class='nes-field'>
        <input [(ngModel)]="loginForm.username" name='username' type='text' id='username' class='nes-input' [class.is-error]="formSubmitted && (loginError$ | async)" placeholder='username' required>
      </div>
      <div class='nes-field'>
        <input [(ngModel)]="loginForm.password" name='password' type='password' id='password' class='nes-input' [class.is-error]="formSubmitted && (loginError$ | async)" placeholder='password' required />
      </div>
      <div class='bottom-section'>
        <label>
          <input [(ngModel)]="loginForm.rememberMe" name='rememberMe' type='checkbox' class='nes-checkbox' checked />
          <span>Remember me</span>
        </label>
        <a href='#'>Forgot password?</a>
      </div>
    </form>
    <div class='buttons'>
      <button type='button' class='nes-btn login-btn' (click)='onLoginClick()'>Login</button>
      <button class='nes-btn signup-btn' (click)='onSignUpClick()'>Sign up</button>
    </div>
    <div *ngIf="loginError$ | async as error" class="error-message">
      {{ error }}
    </div>
  </div>
</div>
