@import "src/variables";

:host {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
}

:host::before {
  content: "";
  background-image: url('/assets/images/backgrounds/loginBackground.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: '8bitBold', sans-serif;
  text-align: center;
  font-size: calc(4vw + 4vh);
  color: $text-fill;
  text-shadow:
    -3px -3px 0 black,
    3px -3px 0 black,
    -3px 3px 0 black,
    3px 3px 0 black,
    7px 0px 1px rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 1.5%;
}

.login {
  font-family: '8bit', sans-serif;
  font-size: calc(1.8vw + 1.8vh);
  color: $text-fill;
  text-shadow:
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black,
    4px 0px 1px rgba(0, 0, 0, 0.8);
}

.nes-field, .nes-input {
  width: 100%;
}

.nes-field:first-child {
  margin-bottom: 2vh;
}

#password {
  margin-bottom: 1.5vh;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 1vh; /* adjust as needed */
}

.nes-btn {
  width: 100%;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2vh;
  font-size: 100%;
}

.bottom-section label {
  display: flex;
  align-items: center;
}

.bottom-section label {
  display: flex;
  align-items: center;
  margin: 0;
}

.bottom-section input[type='checkbox'] {
  vertical-align: middle;
}

.bottom-section label span {
  vertical-align: middle;
}

::placeholder { /* This selects all placeholders in the document */
  font-family: '8bit', sans-serif; /* Replace 'CustomPixelFont' with the name of your font */
  color: #999;
}

input::-webkit-input-placeholder { /* WebKit browsers (Safari, Chrome, etc) */
  font-family: '8bit', sans-serif;
  color: #999;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: '8bit', sans-serif;
  color: #999;
  opacity: 1; /* Firefox lowers the opacity of placeholders by default, so you need to reset it */
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: '8bit', sans-serif;
  color: #999;
}


