@import '/node_modules/nes.css/css/nes.css';

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
  height: 100vh;
  width: 100vw;
  font-family: '8bit', sans-serif !important;
  min-font-size: 16px;
}

::placeholder {
  font-family: '8bit', sans-serif;
  color: #999;
}

input::-webkit-input-placeholder {
  font-family: '8bit', sans-serif;
  color: #999;
}

input::-moz-placeholder {
  font-family: '8bit', sans-serif;
  color: #999;
  opacity: 1;
}

input:-ms-input-placeholder {
  font-family: '8bit', sans-serif;
  color: #999;
}

.error-message {
  color: red;
  margin: 0;
  font-size: medium;
}

@font-face {
  font-family: 'PixelTitle';
  src: url('/assets/fonts/BACKTO1982.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixel';
  src: url('/assets/fonts/Perfect DOS VGA 437 Win.ttf') format('truetype');
}

@font-face {
  font-family: '8bit';
  src: url('/assets/fonts/8bitOperatorPlus8-Regular.ttf') format('truetype');
}

@font-face {
  font-family: '8bitBold';
  src: url('/assets/fonts/8bitOperatorPlus8-Bold.ttf') format('truetype');
}




