/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
}

@font-face {
  font-family: 'PixelTitle';
  src: url('/assets/fonts/BACKTO1982.ttf') format('truetype');
}

@font-face {
  font-family: 'Test';
  src: url('/assets/fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}
